<%# navigation styled for Bootstrap 4.0 %>
<nav class="navbar fixed-top navbar navbar-expand-lg navbar navbar-dark" style="background-color: #71C8BD;">
		<div class="navbar">
				<a class="navbar-brand" href="#">
						<%= image_tag("TheStacks_logo.svg", class:'nav_img')%>
					</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
			aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="nav navbar-nav">
            	<%= render 'layouts/navigation_links' %> <!-- All your other links should go in the navigation_links layout file. -->
        	</ul>
		</div>
	</nav>
