<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6 push-xs-3">
		<div class="white-space space-big"></div>
			<%= image_tag "TheStacks_logo.svg", :alt => "The Stacks Logo", :title => "The Stacks", class:'img-fluid' %>
		</div>

	<div class="row text-xs-center">
		<ul class="lang">
			<li> <a href="/?lang=en"><span class="borderline">English</span></a></li>
			<li> <a href="/?lang=es"><span class="borderline">Español</span></a></li>
			<li> <a href=""><span class="borderline">Français</span></a></li>
			<li> <a href=""><span class="borderline">Português</span></a></li>
		</ul>
	</div>

	<div class="row text-xs-center">
		<div class="col-xs-6 push-xs-3">
			<div class="white-space space-medium"></div>
				<% if user_signed_in? %>
					<%= link_to(t("logout"), destroy_user_session_path, method: :delete,
								class: "btn btn-login btn-blue")%>
				<% else %>
					<%= link_to(t("sing"), new_user_registration_path, class: "btn btn-login btn-blue") %>
					<%= link_to(t('login'), new_user_session_path, class: "btn btn-login btn-purple")%>
				<% end %>
		</div>
	</div>
</div>
