<div class="container">
<div class= "hometext">
    
    <h1>About The Stacks</h1>
    <p>The Stacks is an innovative Learning Management System that appeals to both students and 
        instructors alike. The Stacks centralizes communication between students and their 
        instructors making interactions seamless. Our app streamlines communication for universities, 
        tech bootcamps, or any other educational institution, and allows instructors 
        to manage student information from a single dashboard while communicating with other
        colleagues. </p>
    
	<h1> The Stacks Team</h1>
    <br>
    <h3>Dana L. Terry, M.A.</h3>
    <p><strong>Full-Stack Developer</strong></p>
        
        <!-- Headshot -->
        <div id="headshot-container">
        <span>
         <%# image_tag("Dana.jpg", alt:"Dana L. Terry Profile Picture", class: "dana-headshot") %>
            <a class="btn btn-outline-dark" href="/" role="button" target="_blank">Portfolio</a>
        </span>
        </div>
        
    <br>
    <br>

    <h3>Arisa Vaughns</h3>
    <p><strong>Full-Stack Developer</strong></p>
        
        <!-- Headshot -->
        <div id="headshot-container">
        <span>
        <%# image_tag("Arisaheadshot.jpg", alt:"Arisa Bush Profile Picture", class: "arisa-headshot") %>
            <a class="btn btn-outline-dark" href="/" role="button" target="_blank">Portfolio</a>
        </span>
        </div>
            <br>
            <br>
    
        <h3>Chris Ashby</h3>
        <p><strong>Full-Stack Developer</strong></p>
            
            <!-- Headshot -->
            <div id="headshot-container">
            <span>
             <%# image_tag("chrisheadshot.png", alt:"Chris Ashby Profile Picture", class: "chris-headshot") %>
             <a class="btn btn-outline-dark" href="/" role="button" target="_blank">Portfolio</a>
            </span>
          </div>
    
	 <br>
     <br>
</div> 
	  <div class="copyright">
		  <p>Copyright  The Stacks Team. All rights reserved.</p>
        </div>
</div>